<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>

  window.images = {
     loginBackground: "<%= image_path('login_background.jpg') %>",
     logo: "<%= image_path('logo.png') %>",
     xMarks: "<%= image_path('x-marks.png') %>",
     splashBackground: "<%= image_path('splash_background') %>",
     profilePic: "<%= image_path('profile_pic.jpg') %>",
     courseRender: "<%= image_path('course_render.jpg') %>"
   }

</script>

<main id="root"></main>
