<!DOCTYPE html>
<html>
<head>
  <title>ChartHouse</title>
   <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAXklX8NcmZIilWwp2BMflTENyej_de_gA&libraries=geometry,places" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
